<% layout('layout/boilerplate')%>
<style>
 body{
   background-color:  #7DB0D0;
 }
 label{
   font-size: 20px;
 }
 .btn,.btn:hover{
   background: darkblue;
   color:white;
 }
</style>
    <div class="container my-3">
        <div class="row">
            <div class="col-5 offset-4" >   
                <div class="card shadow">
                    <div class="card-body">            
    <form action="/calamity" method="post">
      <fieldset>
        <legend>CALAMITY</legend>
      
     <div class="mb-1">
     <label for="Calamity"  class="form-label">Location of Calamity: </label>
     <input type="text"class="form-control" id="Calamity" name="calamity[location]">
    </div>
    <div class="mb-1">
        <label for="location"  class="form-label">Assemble Location: </label>
        <input type="text"class="form-control" id="location" name="calamity[assemble]">
       </div>
     
     <div class="mb-1">
        <label for="persons"  class="form-label">Minimum Number of persons required : </label>
        <input type="number" class="form-control"id="persons" name="calamity[persons]">  
      </div>
      <div class="mb-1">
        <label for="persons"  class="form-label">Minimum Number of days required :</label>
        <input type="number" class="form-control"id="persons" name="calamity[days]">  
      </div>
      <div class="mb-1">
        <label for="persons"  class="form-label">DATE </label>
        <input type="date" class="form-control"id="persons" name="calamity[date]">  
      </div>
      <div class="mb-1">
        <label for="message"  class="form-label">Message: </label>
        <textarea name="calamity[message]" class="form-control" id="message" cols="3" rows="3"></textarea>
      </div>
      <div class="d-grid gap-2">
      <button class="btn">CREATE</button>
    </div>
  </fieldset>
    </form>
</div>
</div>
</div>
</div>
</div>