<% layout('layout/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/fbutton.css">
<style>
body{
    background-color: #7Db0D0;
}
    .zero{
        margin-top:260px;
    }
    .zero p{
        color: darkblue;
        font-size: 20px;
    }
    .zero i{
        font-size: 50px;
    }
</style>
<% if(disaster.length==0){ %>
    <div class="row zero">
        <div class="col-lg-10 offset-1 text-center">
            <i class="fa-regular fa-face-laugh-beam"></i>
            <p>There is no calamities..!</p>
            <p>Be ready for next one..</p>
        </div>
    </div>
    <% } %>  
<div class="container my-5">
    <div class="row d-flex justify-content-center">
        <% for(let d of disaster){ %>
            <div class="col-sm-12 com-md-6 col-lg-4">
                        <div class="card shadow">
                            <div class="card-body">
                                    <p>Disaster location : <%=d.location%></p>
                                    <p>Assemble location : <%= d.assemble%> </p>
                                
                                    <p><%=d.message.substring(0,150)%></p>
                                   <div class="d-grid gap-2">
                                    <a href="/calamity/<%=d._id%>" class="btn btn-primary">View ......</a>
                                   </div>
                                   
                                    
                            </div>
                        </div>
            </div>
            <% } %> 
    </div>
</div>


<a href="/calamity/new" class="float">
    <i class="fa fa-plus my-float" ></i>
</a>