<% layout('layout/boilerplate')%>

<style>
     .carousel-inner img{
             height:580px;
     } 
     body{
             background-color:#7DB0D0;
     }
     .p{
             font-size: 24px;
     }
     .ab{
        background: #6441A5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color:white;
     }
     .ab p{
             font-size: 20px;
     }
     .contact{
             display: none;
     }
</style>
<div class="container my-5">
       


        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                    <h2 class="text-center text-white display-3"><i class="fa-solid fa-house-crack"></i> Disaster</h2>
                    <p class="p text-center lead">A disaster is a serious problem occurring over a short or long period of time that causes widespread human, material, economic or environmental loss which exceeds the ability of the affected community or society to cope using its own resources </p>
            </div>
        </div>
<div class="row">
        <div class="col-lg-6 offset-3">
                <div class="text-center">

                       
                        
                        <% if (user.ncc || user.nss || user.ano || user.officer) { %>
                                
                        <% }else{ %>
                                <a href="/ncc" class="btn btn-light">NCC CADET</a>
                                <a href="/nss" class="btn btn-light">NSS CADET</a>
                        <%}%>

                        
                </div>
        </div>
</div>
<div class="row my-5">
        <div class="col-lg-6">
                <div class="text-center">
                        <div class="card ab shadow" style="height: 340px;">
                                <div class="card-body">
                                        <h2 class="display-6">ABOUT US</h2>
                                        <p class="lead">The National Disaster Response Force (NDRF) is an Indian specialized force constituted "for the purpose of special response to a threatening disaster situation or disaster" under the Disaster Management Act, 2005. The "Apex Body for Disaster Management" in India is the National Disaster Management Authority (NDMA). The Chairman of the NDMA is the Prime Minister.</p>
                                </div>
                        </div>
                        
                </div>
        </div>
        <div class="col-lg-6">
                <div class="text-center">
                <div class="card ab shadow" style="height: 340px;">
                        <div class="card-body">
                                <h2 class="display-6 text-uppercase">Contact</h2>
                                <p class="lead">
                                
                                CONTACT DETAILS OF NDRF HEADQUARTER DIRECTORATE GENERAL ,NATIONAL DISASTER RESPONSE FORCE,
                                6th FLOOR, NDCC-II BUILDING, JAI SINGH ROAD, NEW DELHI-110001
                                CONTROL ROOM DETAILS
                                TELE/FAX NO. - 011-23438091, 011-23438136
                                EMAIL ID - hq.ndrf@nic.in
                                EXCHANGE / RECEPTION DETAILS
                                 NO. - 011-23438017,  011-23438019 </p>
                                 <div class="d-grid gap-2 mt-2">
                                 <a href="#contact" class="btn btn-light c">Contact us</a>
                                </div>
                        </div>
                </div>
               
        </div>
        </div>
</div>

<div id="contact">


<div class="row contact">
        <div class="col-md-6 offset-md-3">
                <div class="card shadow">
                        <div class="card-body">
                               
                                <form action="/mail" method="post">
                                        <fieldset>
                                                <legend> <i class="fa-solid fa-envelope fa-bounce" style=" --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y:1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-rebound: 0;" ></i> CONTACT WITH US</legend>                                      
                                                  <div class="mb-3">
                                                <label for="email" class="form-label">Email</label>
                                                <input type="email" name="email" id="email" class="form-control">
                                        </div>
                                        <div class="mb-3">
                                        <label for="feed" class="form-label">MESSAGE</label>
                                        <textarea class="form-control" name="feedback" id="feed" cols="5" rows="5"></textarea>
                                </div>
                                <div class="d-grid gap-2">
                                        <button class="btn btn-secondary">CONTACT</button>
                                </div>
                        </fieldset>
                                </form>
                        </div>
                </div>
        </div>
</div>
</div>
</div>
<script>
let btn = document.querySelector('.c')
const form =document.querySelector('.contact')
btn.addEventListener('click',()=>{
form.style.display='block'
})
</script>

