<% layout('layout/boilerplate')%>
<style>
   body{

       background-color: #7DB0D0;
    }
    img{
      height:300px;
    }
.old a{
  text-decoration: none;
  color:black;
  font-size:20px;
}
.btn{
        background-color: darkblue;
        color: white;
    }
    .btn:hover{
        color: white;
        background-color: darkblue;
    }
    label{
      font-size: 20px;
    }
</style>
<div class="container my-5">
    <div class="row">
        <div class="col-sm-12 col-md-4 offset-md-4" >   
            <div class="card shadow">
              <img src="/images/login.jpeg" class="img-top" alt="">
                <div class="card-body">

            
            <h2 class="text-center"><i class="fa-solid fa-file-medical fa-fade" ></i> Continue Helping..!</h2>  
                  <h6 class="text-center display-6 hello"></h6>
<form action="/login" method="post" autocomplete="off">      
<div class="mb-3">
    <label for="user"  class="form-label">User Name : </label>
    <input type="text" class="form-control user"id="user" name="username" autofocus>  
  </div>
 <div class="mb-3">
 <label for="password"  class="form-label">Password : </label>
 <input type="password" class="form-control"id="password" name="password">
</div>     
<div class="d-grid gap-2">
  <button class="btn">Login</button>
</div>
</form>
<div class="text-center my-3 old">
  <a href="/register" class="old"><i class="fa-solid fa-users"></i> Not a user</a>
</div>
</div>
</div>
</div>
</div>
</div>
<script>
  const h= document.querySelector('.hello');
  const i = document.querySelector('.user');
  i.addEventListener('input',()=>{
      if(i.value==''){
      h.textContent=" ";
      }else{
          h.textContent=`Hello ${i.value}..!`
      }
  })
  
</script>