<% layout('layout/boilerplate')%>
<style>
    body{
        background-color: #7DB0D0;
    }
    .link a{
        text-decoration: none;
        color: darkblue;
    }
</style>
<div class="container my-5">
    <div class="row">
        <div class="col-lg-4 offset-4"> 
           
            <div class="card shadow">
           
                <div class="card-body">
                        <h2 class="text-center">Ncc Cadet</h2>
             
    <form action="/ncc" method="post" >
       
    <div class="mb-3">  
    <label for="gender">Gender: </label>
        &nbsp<span>&nbsp SW</span><input class="form-check-input" type="radio" id="gender" value="sd" name="ncc[gender]" aria-label="...">
        <span>&nbsp SD</span><input class="form-check-input" type="radio" id="gender"  name="ncc[gender]" value="sw" aria-label="...">
    </div>
   
    <div class="mb-3">
        <label for="group"  class="form-label">Group : </label>
        <input type="text" class="form-control"id="group" name="ncc[group]">   
    </div> 
    <div class="mb-3">
    <label for="Battalion"  class="form-label">Battalion : </label>
    <input type="string"class="form-control" id="Battalion" name="ncc[battalion]">
    </div>
    <div class="mb-3">
    <label for="regi"  class="form-label">Regimental Number : </label>
    <input type="text"class="form-control" id="regi" name="ncc[Regimental]">
    </div>
  
    <div class="mb-3">
        <label for="cadet"  class="form-label">Cadet Rank : </label>
        <input type="text" class="form-control"id="cadet" name="ncc[cadet]">  
    </div>
    <div class="d-grid gap-2">

   
    <button class="btn btn-primary">Register</button> 
</div>
    </form>
    <div class="text-center link mt-3">
        <a href="/officer" class="p-2" >Commanding Officer</a>
        <a href="/ano" class="p-2">College Ano </a>
    </div>
</div>
</div>

</div>
</div>
</div>


