<% layout('layout/boilerplate')%>
<style>
    body{
        background-color: #7DB0D0;
    }
    .link a{
        text-decoration: none;
        color: darkblue;
    }
    .btn,.btn:hover{
        background-color: darkblue;
        color: white;
    }
    label{
        font-size: 20px;
    }
    legend{
        font-size: 24px;
    }
</style>
<div class="container my-5">
    <div class="row">
        <div class="col-lg-4 offset-4"> 
            <div class="card shadow">
                <div class="card-body">
                       
             
    <form action="/ncc" method="post" >
       <fieldset>
           <legend class="mb-2">NCC CADET</legend>
    <div class="form-group mb-3">  
    <label for="gender">Gender: </label>
    <span id="gender">
    <label for="sd" class="form-check-label">SD</label>
        <input class="form-check-input" type="radio" id="sd" value="sd" name="ncc[gender]" aria-label="...">
        <label for="sw" class="form-check-label">SW</label>
        <input class="form-check-input" type="radio" id="sw"  name="ncc[gender]" value="sw" aria-label="...">
    </span>
</div>
   
    <div class="mb-3">
        <label for="group"  class="form-label">Group : </label>
        <input type="text" class="form-control"id="group" name="ncc[group]">   
    </div> 
    <div class="mb-3">
    <label for="Battalion"  class="form-label">Battalion : </label>
    <input type="string"class="form-control" id="Battalion" name="ncc[battalion]">
    </div>
    <div class="mb-3">
    <label for="regi"  class="form-label">Regimental Number : </label>
    <input type="text"class="form-control" id="regi" name="ncc[Regimental]">
    </div>
  
    <div class="mb-3">
        <label for="cadet"  class="form-label">Cadet Rank : </label>
        <input type="text" class="form-control"id="cadet" name="ncc[cadet]">  
    </div>
    <div class="d-grid gap-2">

   
    <button class="btn">Register</button> 
</div>
</fieldset>
    </form>
    
</div>
</div>

</div>
</div>
</div>


