<% layout('layout/boilerplate')%>
<style>
    body{
        background-color: #7DB0D0;
    }
   label{
       font-size: 20px;
   }
   legend{
       font-size: 24px;
   }
   .btn,.btn:hover{
       background-color: darkblue;
       color: white;
   }
</style>
<div class="container my-3">
    <div class="row mt-5">
        <div class="col-6 offset-3 mt-5" >    
            <div class="card shadow">
               
                <div class="card-body">

               
<form action="/nss" method="post" >
    <fieldset>
        <legend>NSS CADET</legend>
   
    <div class="mb-3">  
        <label for="gender">Gender: </label>
        <span id="gender">
            <label for="sd" class="form-check-label">MALE</label>
        <input class="form-check-input" type="radio" id="sd" value="Male" name="nss[gender]" aria-label="...">
        <label for="sw" class="form-check-label">Female</label>
       <input class="form-check-input" type="radio" id="sw"  name="nss[gender]" value="Female" aria-label="...">
    </span>
        </div>
   
<div class="mb-3">
<label for="proof" class="form-label">Proof [certificate link] : </label>
<input type="text" class="form-control " id="proof" name="nss[certificate]">
</div>
    <div class="d-grid gap-2">
        <button class="btn">Register</button>
    </div>
</fieldset>
</form>
</div>
</div>
</div> 
</div>
</div>
<script>
    let datas= <%- JSON.stringify( data)%>;
  
  </script>
<script src="/javascripts/data.js"></script>
<script src="/javascripts/register.js"></script>
