<% layout('layout/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/register.css">
<div class="container">
    <div class="row">
        <div class="col-lg-4 offset-4 mt-2 mb-2" > 
            <div class="card shadow">
                <img src="/images/register.jpg"class="card-img-top" alt="">
                 <div class="card-body">
                    
                <form id="regForm" method="post" action="/register mt-2">
                <div class="tab">
                    <h2 class="text-center"><i class="fa-solid fa-file-signature"></i> NAME DETAILS</h2>
                    <div class="mb-3">
            <label for="name"  class="form-label">Name : </label>
            <input type="text" class="form-control"id="name" name="name" autofocus>   
        </div>  
        <div class="mb-3">
            <label for="name"  class="form-label">User Name : </label>
            <input type="text" class="form-control"id="name" name="username">   
        </div> 
    </div>
    <div class="tab">
        <h2 class="text-center"><i class="fa-solid fa-address-card"></i> CONTACT INFO</h2>
        <div class="mb-3">
            <label class="form-label" for="email">E-mail :</label>
            <input type="email" class="form-control" id="email" name="email"> 
            </div> 
            <div class="mb-3">    
                <label for="phone"  class="form-label">Mobile Number : </label>
                <input type="phone" class="form-control" id="phone" name="phone">  
            </div>
    </div>
    <div class="tab">
        <h2 class="text-center"><i class="fa-solid fa-location-arrow"></i> LOCATION</h2>
        <div class="form-group mb-3">
            <label for="inputState">State</label>
            <select class="form-control" id="inputState" name="state">
                                <option value="SelectState">Select State</option>
                                <option value="Andra Pradesh">Andra Pradesh</option>
                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Chhattisgarh">Chhattisgarh</option>
                                <option value="Goa">Goa</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                <option value="Jharkhand">Jharkhand</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Madya Pradesh">Madya Pradesh</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Manipur">Manipur</option>
                                <option value="Meghalaya">Meghalaya</option>
                                <option value="Mizoram">Mizoram</option>
                                <option value="Nagaland">Nagaland</option>
                                <option value="Orissa">Orissa</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Rajasthan">Rajasthan</option>
                                <option value="Sikkim">Sikkim</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="Telangana">Telangana</option>
                                <option value="Tripura">Tripura</option>
                                <option value="Uttaranchal">Uttaranchal</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="West Bengal">West Bengal</option>
                                <option disabled style="background-color:#aaa; color:#fff">UNION Territories</option>
                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                <option value="Chandigarh">Chandigarh</option>
                                <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                <option value="Daman and Diu">Daman and Diu</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Lakshadeep">Lakshadeep</option>
                                <option value="Pondicherry">Pondicherry</option>
                              </select>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="inputDistrict">District</label>
            <select class="form-control" id="inputDistrict" name="district">
                <option value="">SELECT DISTRICT</option>
            </select>
          </div>
       <div class="from-group mb-3">
           <label for="college" class="form-label">SELECT COLLEGE</label>
           <input class="form-control" list="College" name="college" id="college">
           <datalist id="College">
           </datalist>
       </div>
    </div>
    <div class="tab">
        <h2 class="text-center"><i class="fa-solid fa-key"></i> PASSWORD</h2>
        <div class="mb-3">
            <label for="password"  class="form-label">Password : </label>
            <input type="password" class="form-control"id="password" name="password">
            </div>
            <div class="mb-3">
            <label for="cpassword"  class="form-label">Confirm Password : </label>
            <input type="password" class="form-control"id="cpassword" name="cpassword">
            </div>
        </div>
    <div style="overflow:auto;">
      <div style="float:right;">
        <button type="button" class="btn" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        <button type="button" class="btn" id="nextBtn" onclick="nextPrev(1)">Next</button>
      </div>
    </div>
    
    <div style="text-align:center;margin-top:10px;">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>
    <div class="text-center mt-1">
        <a href="/login" class="text-dark old"><i class="fa-solid fa-user"></i> Already a User</a>
    </div>
    </form>
</div>
</div>
</div>
</div>
</div>
<script>
  let datas= <%- JSON.stringify( data)%>;

</script>
<script src="/javascripts/register.js"></script>
<script src="/javascripts/data.js"></script>